@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800,900');

body{font-family: 'Poppins', sans-serif;}
h1,h2,h3,h4,h5,h6{margin: 0px; padding: 0px;}
li{list-style: none;}
ul{margin: 0px;padding: 0px;}
a, a:hover, a:focus{text-decoration: none;}
label{font-size: 20px; font-weight: 600; margin-bottom: 15px;}
.header{padding: 20px 0px;background: #e3b03b;}
.logo{max-width: 190px;display: inline-block;}
.logo img{width: 100%;}
.head_contact{display: inline-block;margin-right: 35px;}
.head_contact a{color: #fff;font-size: 16px;}
.head_contact a span{display: inline-block;margin-left: 10px;}
.head_contact a{margin-left: 20px;}
.header_left{float: left;}
.header_right{float: right;margin-top: 35px;}
.header_right a{color:#fff; font-size: 16px;text-shadow: 0px 1px 2px #383838;}

.entry_form{padding: 100px 0px;}
.input input{border: none; background:none;border-bottom: 1px solid #dcdcdc;padding: 0px 10px;width: 100%;}
.input textarea{border: none; background:none;border-bottom: 1px solid #dcdcdc;padding: 0px 10px;width: 100%;resize: none;}
input:focus{outline: none;}
textarea:focus{outline: none;}

.label_cont{width: 45%; float: left;}
.place{width: 55%; float: left;}
.place input, .place select, .place textarea{width: 100%;}
.input{margin-bottom: 40px;}
.frm_middle .input:nth-child(1) .place{width: 100%;}
.frm_middle .input:nth-child(2) .place{width: 100%;}
.frm_bottom .input{width: 33.33%;float: left;}
.barcode-value{ padding: 10px; border: 1px solid black !important; border-radius: 5px; margin-bottom: 20px;}
.predefined .input-group-prepend{display: inline-block;border-bottom: 1px solid #dcdcdc;padding-left: 15px;width: 100%;}
.predefined input{display: inline-block;width: 86%;display: none;}
.trade_mark .heading{font-size: 15px;text-transform: uppercase;padding-top:15px;font-weight: 600;border-bottom: 1px solid #dcdcdc;padding-bottom: 20px;text-align: center;border-right: 1px solid #dcdcdc;}
.trade_mark{border: 1px solid #dcdcdc;border-radius: 10px;margin-top: 70px;}
.trade_mark tr th:last-child{border-right: none;}
.inner_btm{padding: 15px 0px 0px;display: block;}
tfoot tr .payment{text-align: left !important; padding-left: 20px !important;}
.trade_mark tr td{border-right: 1px solid #dcdcdc;text-align: center;padding: 15px 0px;border-bottom: 1px solid #dcdcdc;}
tbody{min-height: 600px;}
.submit{text-align: center;margin-top: 70px;}
.submit input{border: none;background: #569bcc;color: #fff;padding: 13px 45px;font-size: 18px;text-transform: uppercase;border-radius: 10px;}
tbody td{vertical-align: top;}
tbody tr input{width: 100%; min-height: 42px;padding: 0px 10px;border: 1px solid #dcdcdc;}
.trade_mark tbody tr td{padding: 10px;margin-bottom: 10px;}

.footer{background: #e3b03b;padding: 20px 0px;color: #fff;}
input[type=file]{display: inline-block; margin-left: 10px}
.remark { margin-top: 70px}
#addButton, #removeButton, .back-btn{font-size: 40px;}
#addButton{color: #4558be;}
#removeButton{color: red;}
th,td{padding: 20px;}
/*Datepicker*/
.ui-datepicker{background: #f5f4f3;padding: 20px 30px;}
.ui-datepicker .ui-datepicker-title{margin: 0 2.3em;line-height: 1.8em;text-align: center;}
.ui-datepicker .ui-datepicker-prev{left: 2px;}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{position: absolute;top: 2px;width: 1.8em;height: 1.8em;}
.ui-widget-header a{color: #222222;}
.ui-datepicker .ui-datepicker-next{right: 2px;}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{display: block;position: absolute;left: 50%;margin-left: -8px;top: 50%;margin-top: -8px;}

.ui-helper-clearfix:before, .ui-helper-clearfix:after{content: "";display: table;}
.ui-icon-circle-triangle-w{background-position: -80px -192px;}
.ui-icon{width: 16px;height: 16px;background-image: url(../images/ui-icons_222222_256x240.png);}
.ui-icon{display: block;text-indent: -99999px;overflow: hidden;background-repeat: no-repeat;}
.ui-helper-clearfix:after{clear: both;}
.ui-datepicker table{width: 100%;font-size: .9em;border-collapse: collapse;margin: 0 0 .4em;}
.ui-widget-content .ui-icon{background-image: url(../images/ui-icons_222222_256x240.png);}
.ui-icon-circle-triangle-e{background-position: -48px -192px;}
.ui-widget :active{outline: none;}
.ui-widget-header{border: 1px solid #aaaaaa;background: #cccccc url(../images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;color: #222222;font-weight: bold;}
.ui-widget-content{border: 1px solid #aaaaaa;background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;color: #222222;}
.ui-widget{font-family: Verdana,Arial,sans-serif;font-size: 1.1em;}
.ui-datepicker th{padding: .7em .3em;text-align: center;font-weight: bold;border: 0;}


/*Display*/
.display_inner table th{text-transform: uppercase;font-weight: 600;font-size: 20px;margin-bottom: 20px;}
.display_inner.left{border-right: 2px solid #dcdcdc;margin-right: -30px;}
.display_inner{padding: 50px 15px;}
.order_detail{text-align: center;font-size: 14px;}
.display_inner tbody td{margin-bottom: 10px;padding: 7px 0px;font-size: 18px; border: none !important;font-weight: 500;}
.display_inner .col-lg-3{padding: 0px;}
.display_inner .row{margin: 0px;}
.display .container{max-width: 100%;width: 100%;}
.display{background: #f1f1f1;}
.display_inner .table>thead>tr>th{border: none;}
.display_inner thead{margin-bottom: 30px;}

/*Admin*/
.ad_top{background: }
.ad_left{float: left;bottom: 50px;height: 100%;margin-bottom: -70px;margin-top: 0;padding-bottom: 70px;position: fixed;z-index: 1002;top: 0;width: 240px;-webkit-transition: all 0.4s ease-in-out;-moz-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;background: #ffffff;box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05);}
.ad_right{float: right;width: 85%;padding-right: 45px;}
.ad_logo{background: #3f51b5;text-align: center;padding: 10px 0px;}
.ad_logo a{max-width: 61px;margin: 0 auto;display: block;}
.ad_logo img{width: 100%;}

.phancy-scrollbar {width: 5px;border-radius: 4px;top: 0;position: absolute;background: #ccc;-moz-transition: opacity .2s;-webkit-transition: opacity .2s;-o-transition: opacity .2s;-ms-transition: opacity .2s;transition: opacity .2s;-webkit-transition-delay: 1s;opacity: 0;}
.phancy-scroller .phancy-scrollbar:active, .phancy-scroller:hover .phancy-scrollbar {opacity: 1;-webkit-transition-delay: 0s;}
.phancy-scrollbarbutton {width: 100%;border-radius: 4px;top: 0;position: absolute;background-color: #999;}
#sidebar-menu {background-color: #ffffff;padding-bottom: 60px;width: 100%;padding-top: 3}
#sidebar-menu, #sidebar-menu ul, #sidebar-menu li, #sidebar-menu a{padding: 12px 25px;color:#2d3b48;border: 0;font-weight: normal;line-height: 1;font-size:16px;list-style: none;margin: 0;padding: 0;position: relative;text-decoration: none;}
.menu-title{padding: 12px 25px !important;letter-spacing: .035em;pointer-events: none;cursor: default;font-size: 13px;color: #707070;}
#sidebar-menu > ul > li > a.active{color: #2d3b48;background-color: #eff3f6;}
#sidebar-menu > ul > li > a.active i{background-color: #3f51b5;color: #ffffff;box-shadow: none;}
#sidebar-menu > ul > li > a > span{vertical-align: middle;}
#sidebar-menu > ul > li{padding: 12px 25px;display: block;margin-bottom: 10px;}
#sidebar-menu > ul > li > a span{margin-left: 12px;display: inline-block;}
#menu{padding: 40px 0px;}
#sidebar-menu > ul > li > a > span > span{margin-left: 32px;}
#sidebar-menu a i{font-size: 20px;}
#sidebar-menu > ul > li:hover{color: #3f51b5;text-decoration: none;background-color: rgba(63, 81, 181, 0.1);}
.badge-primary{background-color: #3f51b5;}
.badge{padding: 4px 6px 2px; border-radius: 4px;}
#navbar_custom{border: none;z-index: 1001; padding: 10px 0;width: 90%; margin: 0 auto;}
/*form{margin-bottom: 1.125rem; text-align: center;margin-bottom: 20px;}*/
/*.designnumber .notification{ text-align: center; }*/
.notification-container.designnumber-form-area { text-align: center; }
/*.designnumber-form-area .user-info h3{ margin-top: 0; }*/
/*.place h3 .agent_name{ margin-right: 8px; }*/
.input.agent_name{ margin-bottom: 0; }
.bmd-form-group{position: relative;padding-top: 1.75rem;}
.pt-1, .py-1{padding-top: .25rem!important;}
#navbar_custom .app-search .form-control{background-image: linear-gradient(0deg, #ffffff 2px, rgba(0, 150, 136, 0) 0), linear-gradient(0deg, white 1px, transparent 0) !important;color: #ffffff !important;padding-right: 35px;}
#navbar_custom .bmd-form-group .custom-file-control, .bmd-form-group .form-control, .bmd-form-group input::placeholder, .bmd-form-group label{line-height: 2;}
#navbar_custom .form-control{font-size: 15px;}
#navbar_custom .custom-file-control, .form-control{background: no-repeat bottom,50% calc(100% - 1px);background-size: 0 100%,100% 100%;border: 0;transition: background 0s ease-out;padding-left: 0;padding-right: 0;}
button, input{overflow: visible; margin: 10px -3px 0 0;}
#navbar_custom .bmd-form-group a{position: absolute;top: 10px;right: 10px;display: block;text-align: center;color: #ffffff;}
#navbar_custom .custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control{background-image: linear-gradient(0deg, #009688 2px, rgba(0, 150, 136, 0) 0), linear-gradient(0deg, #aaaaaa 1px, transparent 0);}
.custom-file-control, .form-control{display: block;width: 100%;padding: .4375rem 0;line-height: 1.5;color: #495057;background-color: transparent;background-clip: padding-box;border-radius: 0;box-shadow: none;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
#navbar_custom ::placeholder {color: #c5ccef;}
#navbar_custom input {color: #c5ccef;}
.modal-content{z-index: 999;}
body .form-control:focus{outline: none; box-shadow: initial;}
.admin_body{background: #fff;    padding-bottom: 30px;}
.bmd-form-group .bmd-help{margin-top: 0;font-size: .75rem;}
.bmd-help{position: absolute;display: none;font-size: .8rem;font-weight: 400;}
.bmd-help, .text-muted{color: #6c757d!important;}
.bmd-form-group.is-focused .bmd-help{display: block;}
.dropdown-toggle:after{border: none;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{border-left: 1px solid #ddd; border-right: 1px solid #ddd;}
.list-inline-item:not(:last-child){margin-right: .5rem;}
.notification-list{margin: 0 !important;}
.notification-list .nav-link{padding: 0 7px;line-height: 71px;}
.waves-effect{position: relative;cursor: pointer;display: inline-block;overflow: hidden;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-tap-highlight-color: transparent;vertical-align: middle;z-index: 1;will-change: opacity, transform;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;-ms-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}
.nav-link{text-transform: none;}
.notification-list .noti-icon{font-size: 18px;vertical-align: middle;color: #ffffff;border-radius: 50%;border: 3px solid transparent;padding: 8px;background-color: #606fc7;}
.notification-list i{speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;}
.notification-list .noti-icon-badge{display: inline-block;position: absolute;top: 9px;right: 6px;}
.badge-danger{background-color: #ef4f4c;}
.nav-user img{height: 40px;width: 40px;border: 3px solid transparent;}
.img-thumbnail{border-radius: 50%;}
.notification-list .noti-title{border-radius: 0.25rem 0.25rem 0 0;background-color: #3f51b5;margin: -4px 0px 0px 0px;width: auto;color: #ffffff;padding: 12px 20px;display: block;}
.notification-list .noti-title h5{margin: 0;font-size: 14px;padding-top: 4px;width: 100%;}
.notification-list .notify-item{padding: 15px 20px;display: block;}
.notification-list .notify-item .notify-icon{float: left;height: 0px;width: 36px;line-height: 36px;text-align: center;margin-right: 10px;border-radius: 50%;color: #ffffff;}
.notification-list .notify-item .notify-icon img{margin-top: 4px;width: 100%;border-radius: 50%;}
.notification-list .notify-item .notify-details{margin-bottom: 0;overflow: hidden;margin-left: 45px;line-height: 1.5;text-overflow: ellipsis;white-space: nowrap;}
.notification-list .notify-item .notify-details small{display: block;white-space: normal;}
.text-muted{color: #707070;}
.dropdown-menu .dropdown-item{padding-right: 1.5rem;padding-left: 1.5rem;position: relative;display: flex;flex-flow: row wrap;align-items: center;overflow: hidden;line-height: 1;text-overflow: ellipsis;word-wrap: break-word;display:block;}
.profile-dropdown i{font-size: 16px;vertical-align: middle;margin-right: 12px;}
.profile-dropdown .dropdown-item{padding: 12px 10px;}
.has_sub .list-unstyled{margin-top: 20px !important;display: none;}
.has_sub.nav-active .list-unstyled{display: block;}
.has_sub .fa-angle-down{display: none;}
.has_sub.nav-active .fa-angle-down{display: inline-block;}
.has_sub.nav-active .mdi-chevron-right{display: none;}
.has_sub .list-unstyled li {margin-bottom: 20px !important;}
.has_sub .list-unstyled li:hover{background: none !important;}
li.has_sub.nav-active{color: #3f51b5;text-decoration: none;background-color: rgba(63, 81, 181, 0.1);}
/*input[type="file"] {display: none;}*/
.custom-file-upload {color: #fff;background-color: #337ab7;border-color: #204d74;padding: 14px 20px;cursor: pointer;border-radius: 4px;}
.notification-list .popup_form {float: right;line-height: initial;margin-top: 16px;margin-right:20px;color: #fff;background: blue;padding: 5px 10px;font-size: 16px;border-radius: 4px;-webkit-transition: all .4s ease-out;border: 1px solid blue;}
.popup_open	{position: absolute;left:50%;transform: translateX(-50%) !important;top:120px;width: 767px;padding: 50px 40px 70px;}
.card-body .notification-list{float: right;}
.card-body .dropdown{position: initial;}
.card-body [class*=" bmd-label"], [class^=bmd-label]{color:#212529;}
.card-body .bmd-form-group .bmd-label-floating, .bmd-form-group .bmd-label-placeholder{top: 0.1875rem;}
.page-item.active .page-link{background-color: #337ab7;border-color: #337ab7;}
.page-link:hover{color: #337ab7;}
.page-link{color: #337ab7;}
.has_sub span{display: inline-block;}
.has_sub span i{margin: 0px 0px 0px 20px;display: inline-block;vertical-align: middle;}
.back_btn:hover{color: #fff;}
.card-body{position: relative;}
.inventory_form{margin-top: 50px;margin-bottom: 50px;}
.agent_module input{padding: 8px 20px;}
/*buton hover*/
.notification-list .popup_form:hover {background: white;color: blue;transition: all .4s ease;-webkit-transition: all .4s ease;}
/*Row Product*/
div.dataTables_wrapper label{font-weight: normal;text-align: left;white-space: nowrap;display: inline-block;}
.bmd-form-group.bmd-form-group-sm{padding-top: 1.40625rem;}
select.custom-file-control:not([size]):not([multiple]), select.form-control:not([size]):not([multiple]){height: calc(30px + 2px);}
div.dataTables_wrapper div.dataTables_length label select{display: inline-block;}
.dataTables_filter label{display: inline-block;}
.dataTables_filter label span{display: inline-block;}
.dataTables_wrapper .row .right{text-align: right;margin-bottom: 20px;}
.dataTables_wrapper .table thead th{border: 2px solid rgba(0,0,0,.06);padding: 15px 10px;}
.dataTables_wrapper .table tbody tr td{border: 1px solid #ddd; padding: 12px 10px;}
div.dataTables_wrapper div.dataTables_paginate{margin: 0;white-space: nowrap;text-align: right;}
.alert-danger li{text-transform: capitalize;}
.table .dataTables_wrapper #datatable_filter{margin-bottom: 25px;}
.table .dataTables_wrapper input[type="search"]{    color: #495057;background-color: #fff;background-clip: padding-box;border: 1px solid #ced4da;border-radius: .25rem;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.table .dataTables_wrapper .dataTables_info{padding-top: 25px;}
.table .dataTables_wrapper .dataTables_paginate{padding-top: 25px;}
.table .dataTables_wrapper .paginate_button{color: blue;}
.table .dataTables_wrapper .datatable_length{width: 94px;}
.admin .table.container{padding-top: 0px;}
/*Login Form*/
.login_frm{max-width: 800px;margin: 0 auto;margin-top: 160px;padding: 50px 50px 100px;box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05);background: #fff;}
.login_frm h2{color: #2d3b48;font-size: 30px;margin-bottom: 50px;}
.login_frm .input input{height: 60px;font-size: 16px;padding: 20px;color: #2d3b48;border: none;background: #f1f1ef;text-transform: initial;}
.btn{background: #337ab7;color: #fff;font-size: 16px;border: none;padding: 10px 50px;box-shadow: 2px 4px 2px 0px #195488;border-radius: 10px;}
.btn:hover{background-color: #286090;box-shadow: 2px 4px 2px 0px #1e4363;}
.btn-raised{margin-right: 15px;}
.login_submit{float: left;}
.chng_pass{float: right;font-size: 16px;}
/*Chnage Password*/
.cancel{margin-left: 30px;}
/*Dashboard*/
.dashboard .dashboard_inner{padding-top: 120px;}
.dashboard_cont h4{font-size: 16px; text-transform: uppercase;color: #9ca9b5;margin-bottom: 15px;}
.dashboard_cont{background: #fff;padding: 70px 50px;box-shadow: 0px 0px 5px 0px #d6d3d3;text-align: center;margin-bottom: 30px;}
.dashboard_cont span{font-size: 35px;}
.dash_icon{width: 70px;margin: 0 auto;margin-bottom: 20px;}
.dash_icon img{width: 100%;}
/*Admin Form*/
.admin .entry_form .container{background: #fff;padding: 50px;box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05);}
.admin .entry_form{padding: 14px 0px 50px;}
.admin .display .btn{float: left;}
.admin .display button{margin-left: 30px;}
#p_scents tbody td{vertical-align: middle;padding: 10px;}
#p_scents table{margin-bottom: 30px;}
#design_no, #tname{padding: 10px;}
.alert-success{margin-top: 45px;}
.pendingorders label{font-weight: 500;color: #2d3b48;font-size: 16px;}
.pendingorders span{margin-left: 8px;}
.pendingorders{padding-bottom: 5px;border-bottom: 1px solid #eaeaea;margin-bottom: 35px;}
.dataTables_wrapper{margin-top: 25px;}
#table_input tr:nth-child(1) td:nth-child(6){display: none;}
#datatable tbody td a{display: inline-block;vertical-align: middle;}
#datatable tbody td form{display: inline-block;}
/*#datatable tbody td i{font-size: 20px;color: #337ab7;}*/
#datatable tbody td form button{background: none;border: none;}
.agent_tab ul li{display: inline-block;}
.agent_tab ul{text-align: center;padding: 20px 0px;}
.agent_tab ul li a{color: #000;font-size: 18px;margin-right: 30px;}
.agent_tab ul li:last-child{margin-right: 0px;}
.user_btn a{color: #fff;font-weight: 500;}
.user_btn a i{margin-right: 5px;}
select.form.control{border: 1px solid #dcdcdc;background: none;padding: 8px 10px;}
select.form.control:focus{outline: none;}
#p_scents #inputvalue #remove{cursor: pointer}
.admin #navbar_custom .nav_top_left .logo{height: auto;width: 64px;}
.table .table{margin-left: 0px;}
.admin_body h2{ text-align:  center; }
.admin_body h4{padding: 50px 20px 0px;}
.admin_body form input{border: none;border-bottom: 1px solid #ddd;background-image: none;}
.admin_order h4{padding: 0px;}
.admin_order a{margin-right: 20px;}
.ad_requested_order form button{ margin-top: 30px;}
.ad_requested_order  a{ margin: 14px 10px 14px 0; }
.ad_requested_order .inventory_form{display: block;margin: 0 auto;}
.ad_requested_order .inventory_form button{margin-left: 20px;margin-right: 20px;}
.admin_order h4{padding: 0px;margin-bottom: 30px;}
.nav_top_left {width: 33%;}
.sectiontitle {color: #fff;text-transform: uppercase;font-size: 30px;width: 33%;float: left;padding-top: 10px;text-align: center;font-weight: bold;}
.nav_top_left a {padding-left: 10px;}
.icons-tab{ display: flex; justify-content: space-around; align-items: center; }
.section-filters {width: 100%;margin: 30px 0; display: inline-block;}
.search-form, .button-container {width: 49.5%;float: left;}
.button-container .a-btn {float: right;margin-left: 10px;}
.icon-blue, .icon-red{font-size: 18px !important;}
.icon-red{color:  #ff0000;}
.icon-blue{color: #4558be;}
.open>.dropdown-menu{max-height: 250px; overflow-y: scroll; width: 250px;}
button, .a-btn {margin: 0;padding: 0;transition: all .4s ease-out;-webkit-transition: all .2s ease-out;padding: 8px 10px;background: blue;color: white;border: 1px solid blue;border-radius: 4px;}
.a-btn:hover {background: white;color: blue;transition: all .4s ease;-webkit-transition: all .4s ease;}
.search-form button {margin: 0;padding: 0;background: transparent;color: blue;border: 0;font-size: 20px;}
.breadcrumbs ul {margin: 0;padding: 0;}
.breadcrumbs ul li {display: inline-block;}
.admin_body .row:first-of-type {margin-top: 40px;}
th {background-color: #f1f0f0;color: #070606;}
td {background-color: white;}
tr:hover {color: #201ed0;cursor: default;}
.submit-btn {background: blue;color: white;padding: 8px 20px;text-transform: uppercase;font-weight: bold;border: 1px solid blue;display: block;text-align: center;margin-bottom: 20px;margin: 10px auto;}
.submit-btn:hover {background: white;color: blue;border: 1px solid blue;transition: all 1s;}
.info-box{display: inline-block; position: relative;width: 60%;}
.info{display: none;border: 1px solid #000;border-radius: 5px;background-color: #fff;padding: 5px;position: absolute;top: -30px;left: -87px;}
.info-btn:hover + .info {display: block; transition: all 5s;}
.req-cross{color: red;}
.mill-btns{display: flex; justify-content: space-between; margin-top: 40px;}
.mill_form .submit-btn{display: inline-block;}
.fa-info-circle{color: #4558be;}
.user-info label,.user-info span{display: inline-block; font-size: 20px;}
.user-info label{color: #726d6d;}
.user-info span{font-weight: 600;}
.dashboard_cont i {font-size: 60px;}
.paginate_button.current{background: blue !important;}
#datatable_wrapper span a{color:#fff !important;background: #c8c8c8;}
#datatable_wrapper .paginate_button.next{color:#fff !important;background: #c8c8c8;}
#datatable_wrapper .paginate_button.previous.disabled{color:#fff !important;background: #c8c8c8;}
table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1{background-color: #fff !important;}
table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1{background-color: #fff !important;}
.error{color: red;font-size: 15px;}
/*dashboard box design start*/
.dashboard-box{display: flex; flex-wrap: wrap; justify-content: space-around; padding: 0 10px;}
.dashboard-row-col{flex-basis: 30%; text-align: center; font-size: 30px; height: 300px;border: 2px solid #337ab7; margin: 30px 0;}
.dashboard-row-col a{display: block; width: 100%; height: 100%;display: flex;justify-content: space-evenly;align-items: center;flex-flow: column;}
.dashboard-row-col i{font-size: 70px;}
.dashboard-row-col:hover{background-color: #23527c05; box-shadow: 4px 4px 0px #337ab78f; transition: all .2s;}
/*dashboard box design end*/
.admin_inner {background: #4558be;}
.profile-dropdown{height:auto !important;    overflow-y: auto !important;}
.notificationcenter span{font-weight: normal;}
/*.notification-container{background: #fff;padding: 50px;box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05); max-width: 90%; margin:30px auto;}*/
/*.notification-paginate{ display: flex; justify-content: space-between; align-items: center; margin-top: 20px;}*/
/*.notification-paginate span{font-size: 14px;}*/
/*.notificationcenter ul li{list-style: inside;}*/
header{background-color: #4558be;}
footer{background-color: #4558be; padding: 8px 0;width:100%; font-size: 11px; color: #fff; position: fixed; bottom: 0;}
.copyright a{color: #fff;}
.copyright a:hover{color: #23527c; font-weight: bold;}
.dashboard-row-col div{height: 70px; width: 70px;}
.dashboard-row-col img{width: 100%; height: auto;}
.user-info{margin-top: 50px;}
.user-table{width: 50%; text-align: center; margin:0 auto;}
.user-table th{text-align: center;}
.user-table{border:2px solid rgba(0,0,0,.06);box-shadow: 1px 1px 9px;} 
.user-table th,.user-table td{border:2px solid rgba(0,0,0,.06);}
.upperbar{display: inline-block; width: 100%; font-size: 20px; margin:30px;}
.insert-design-form{width: 50%; margin: 100px auto 0 auto ; }
.form_row{display: flex; justify-content: space-between; flex-wrap: wrap; margin: 30px 0;}
.form_row_1_of_2{flex-basis: 45%;}
.notification-paginate{ width: 50%; margin: 28px auto; overflow: hidden;}
.paginate-left{ float: left;     margin-top: 8px;}
.paginate-right{ float: right; }
.paginate-right .pagination{ margin-top: 0; }
.user-info label, .user-info span{ font-size: 14px; }
 .admin_body .confirmorder-page-new  form input{padding-bottom: 8px;}
 .viewallclient-page .search-form button{    margin: 0;
    padding: 0;
    transition: all .4s ease-out;
    -webkit-transition: all .2s ease-out;
    padding: 8px 10px;
    background: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 4px; font-size: 14px;}
 .viewallclient-page .search-form{    width: 53.5%;}   
 .admin_body  .viewallclient-page form input{ padding-bottom: 8px; } 
 .table  .viewallclient-page .table{    margin-right: -15px;margin-left: -15px;}
 .viewallclient-table{ padding-right: 0; }
 .viewallclient-page .viewallclient-table table tr td{ width: 10%; }
 .inventory-index .general-label{ margin-top: 30px; }
.admin_body  .inventory-index  h4 { padding: 30px 0 0px;}
.admin_body  .inventory-index .container-fluid{    padding-right: 0;padding-left: 0;}
.admin_body  .inventory-index .col-sm-12{    padding-right: 0;padding-left: 0;}
.designs-page .general-label{ margin-top: 30px; }
.designs-page  h4 { padding: 30px 0 0px;}
.designs-page .container-fluid{    padding-right: 0;padding-left: 0;}
.designs-page .col-sm-12{    padding-right: 0;padding-left: 0;}
.designs-page  .upperbar{    margin: 30px 0;}



.millreport .general-label{ margin-top: 30px; }
.millreport  h4 { padding: 30px 0 0px;}
.millreport .container-fluid{    padding-right: 0;padding-left: 0;}
.millreport .col-sm-12{    padding-right: 0;padding-left: 0;}
.millreport  .upperbar{    margin: 30px 0;}
.millreport .dataTables_info{    margin-left: 15px;}
.millreport  .search-form button{    margin: 0;padding: 0;transition: all .4s ease-out;-webkit-transition: all .2s ease-out;padding: 8px 10px;
background: blue;color: white;border: 1px solid blue; border-radius: 4px; font-size: 14px;}
.admin_body .millreport  form input{ width: 30%; }
.millreport  .dataTables_wrapper{ margin-top: 0; }
.table-main-box{    overflow-x: auto;}

#input-taaka input{
	display: block;
}

.trade-name-inventories {
    width: 100%;
    
    background: gray;
    overflow: hidden;
    margin-bottom: 20px;
}

.trade-name-inventory {
	width:50%;
	float: left;
}
.packorder-btn{
	border: 1px solid #337ab7;
	padding: 10px;
	border-radius: 5px;
}
















