@media screen and (max-width: 1024px) {
.container {width: 100% !important;float: none !important;}

.sectiontitle p {font-size: 20px;}
.dashboard-row-col{ font-size: 25px; margin: 20px 0 0 0;    flex-basis: 49%;}
.container-fluid{ padding-left: 0; }
.table{ float: left; }
/*.table .col-sm-12{ padding: 0; }*/
.icon-blue, .icon-red{ padding: 5px; }
.icons-tab a { padding: 0 10px; }
.dropdown-menu-right{right: 3px;left: auto;}
#datatable_wrapper{ width: 100%; }
.inventory_form{ margin-left: 89%; margin-top: -27px; }
.long-table-format{overflow-x: scroll;}
.notification-paginate{ width: 88%; }
.admin_order.confirmorder-page-new h4{ margin-bottom: 0; } 
.ad_requested_order.confirmorder-page-new .inventory_form{    display: inline-block;width: 100%; margin: 20px 0 20px 0;}
.confirmorder-page-new .ad_requested_order a{display: inline-block;}
.confirmorder-page-new{ width: 100% !important; }
.viewallclient-page { width: 100% !important;     padding-right: 0;}
.viewallclient-table{overflow-x: auto;}
.viewallclient-page .search-form {width: 78.5%;}
.viewallclient-page .inventory_form {margin-left: 0;margin-top: 20px;width: 100%;display: inline-block;}
.millreport .search-form, .millreport  .button-container{ width: 100%;    margin-bottom: 12px; }

}

@media (max-width: 767px){

i.fa.fa-trash.icon-red {margin-left: 6px;}
.admin_body .confirmorder-page-new form input{    width: 88%;}
.ad_requested_order.confirmorder-page-new form button {margin-top: 6px;}
.confirmorder-page-new.ad_requested_order a {margin: 14px 1px 14px 0;font-size: 13px;}

}
@media screen and (max-width: 375px) {
#navbar_custom{ width: 95%; }
.pull-left{ width: 100%; text-align: center; }
.sectiontitle{ width: 100%; text-align: center; }
.pull-right{ width: 100%; text-align: center; }
.dashboard-row-col{ width: 100%; }
/*.dashboard-box{ display: flex none; }	*/
.dashboard-row-col{flex-basis: 90%;}
.search-form, .button-container{ width: 100%; text-align: center; }
.Clients h3{ text-align: center; }


}
